
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* CORPO DO SITE */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#E0E0E0; /* bege */
    color: black
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #111;
    color: rgb(255, 255, 255);
    height: 15vh;
}
.logosenai{
    width: 250px;
    
}

.logo2rp{
    width: 155px;
}
.textosHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SEÇÃO INICIAL */

.home{
    width: 100vw;
    height: 85vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    flex-wrap:wrap;
}

/* FOTO */

.foto img{
    width:220px;
    border-radius:15px;
    border:4px solid #040202; /* vermelho */
    object-fit:cover;
}

/* TEXTO SOBRE */

.info{
    max-width:450px;
}

.info h2{
    color:#c0392b;
    margin-bottom:10px;
}

.info p{
    margin-bottom:10px;
    line-height:1.5;
}

/* CURSOS */

.cursos{
    height: 100vh;
    width: 100vw;
    background-color:#ffffff;
    text-align: center;
}

.cursos h2{
    color:#c0392b;
    margin-bottom:60px;
    padding-top: 70px;
}

.cards{
    margin:10px auto;
    padding:10px;
    height: 300px;
    border-radius:6px;
    display: flex;
    justify-content: space-around;
}
.card{
    background-color: #E0E0E0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 375px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    padding: 2vh 1vw 1vh 1vw;
}
.imagemcard{
    width: 200px;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-position: center;
    background-size: cover;
}

#i1{
    background-image: url(img/imagem\ lgpd.jpeg);
}

#i2{
    background-image: url(img/python.png);
}

#i3{
    background-image: url(img/image.png);
}

#i4{
    background-image: url(img/imagem\ autocad.jpg);
    background-size: contain;
}

.contato{
    padding:60px 20px;
    text-align:center;
}

.contato h2{
    color:#c0392b;
    margin-bottom:20px;
}

.contato p{
    margin:8px 0;
}

.contato a{
    color:#c0392b;
    text-decoration:none;
    font-weight:bold;
}

.contato a:hover{
    text-decoration:underline;
}

/* RODAPÉ */

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
    height: 70vh;
}